nav {
    background-color: var(--white); 
    background-image: url('../assets/Logo.png');
    background-repeat: no-repeat;
    background-position: 5px center; 
    background-size: auto;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 640px) {
    nav {
        background-position: 20px center;
    }
}