table {
    width: 100%;
    margin-top: 2rem;
    border-spacing: 0;
    border: 1px solid var(--gray-10);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    table-layout: auto; 
}

thead {
    background-color: var(--blue-primary);
    height: 47px;
}

th {
    color: var(--white);
}

td, th {
    text-align: left;
    padding: 10px 0;
    padding-left: 25px;
    font-size: 14px;
    border-bottom: 1px solid var(--gray-10);
    word-wrap: break-word;
    white-space: normal;
}

.employee_picture_container {
    width: 15%;
}

.employee_picture {
    width: 28px;
    height: 28px;
    border-radius: 50%; 
    object-fit: cover; 
}

.employeeData_job,
.employeeData_admission_date, 
.employeeData_phone {
    display: none;
}

.icon_button{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.icon_svg {
    width: 25px;
}

.circle_icon {
    width: 10px;
    height: 10px;
    margin-left: 7px;
    color: var(--white);
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
}

.expanded_details {
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed var(--gray-10);
}

@media (min-width: 640px) {

    .expanded-row {
        display: none;
    }

    td, th {
        font-size: 16px;
        padding: 12px;
        padding-left: 40px;
    }

    .icon_container{
        display: none;
    }
    
    .employee_picture {
        width: 34px; 
        height: 34px;
    }

    .employeeData_job,
    .employeeData_admission_date, 
    .employeeData_phone {
        display: table-cell;
    }
}
