.title-search {
    display: flex;
    flex-direction: column;
    align-items: start;
}

main {
    margin: 1rem;
}

@media (min-width: 640px) {

    main {
        margin: 3rem 2rem;
    }

    .title-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        box-sizing: border-box;
    }

}
